
* {
    font-family: 'Open Sans';
}
.column {
    columns: 2;
}

.pagination > li > a,
.pagination > li > span {
    color: rgb(3, 3, 3); // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #396985;
    border-color: rgb(2, 2, 2);
}
.page-item.active .page-link {
    z-index: 1;
    color: rgb(255, 255, 255);
    background-color: #396985; //your color
    border-color: #396985; //your color
}
.card-header {
    background: linear-gradient(to bottom, #52667e 25%, #153a5c 100%) !important;
    color: #fff !important;
}
.inner-login-wrapper {
    background: #fdfdfd;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
    padding: 3% !important;
    padding-bottom: 5% !important;
    font-weight: 700;
}